<div id="main" class="container">
    <h1 class="display-2 text-success pt-5">Credits</h1>
    <div class="row py-5">
        <div class="col-lg-5">
            <img src="/4bi.webp" class="rounded img-fluid" alt="4B Informatica">
        </div>
        <div class="col-lg-7 text-center py-5">
            <ul class="list-unstyled">
                <li>Baratieri Leonardo</li>
                <li>Calabri Riccardo</li>
                <li>Costaraoss Silvia</li>
                <li>El Hani Youssef</li>
                <li>Frapporti Carlotta</li>
                <li>Frianu Andrea</li>
                <li>lipo Nicolo'</li>
                <li>liyanage Ravish Niccolò</li>
                <li>Lutic Gabriel Rafael</li>
                <li>Mounsif Amrou</li>
                <li>Mozzi Giovanni Nicola</li>
                <li>Mujic Armin</li>
                <li>Radovic Dusan</li>
                <li>Rudari Rolando</li>
                <li>Tasin Leonardo</li>
                <li>Ugolini Marco</li>
            </ul>
        </div>
    </div>
</div>