<h1>Classifica</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Posizione</th>
                <th>Squadra</th>
                <th>Vittorie</th>
                <th>Pareggi</th>
                <th>Sconfitte</th>
                <th>Giocate</th>
                <th>Punti</th>
            </tr>
        </thead>
        <tbody>
            @for(squadra of campionato(); track squadra.nome) {
                <tr>
                    <th>{{$index + 1}}</th>
                    <td>{{squadra.nome}}</td>
                    <td>{{squadra.vittorie}}</td>
                    <td>{{squadra.pareggi}}</td>
                    <td>{{squadra.sconfitte}}</td> 
                    <td>{{giocate($index)}}</td>                   
                    <td>{{punti($index)}}</td>                   
                </tr>
            }
        </tbody>
    </table>
</div>
