@if(songs().length > 0) {
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>artist</th>
                <th>genre</th>
                <th>duration</th>
                <th>rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(song of songs(); track song.id) {
                <tr>
                    <th>{{song.id}}</th>
                    <td>{{song.title}}</td>
                    <td>{{song.artist}}</td>
                    <td>{{song.genre}}</td>
                    <td>{{song.duration}}</td>
                    <td>{{song.rating}}</td>
                    <!-- La cessa successiva contiene alcuni bottoni per la modifica/cancellazione di canzoni -->
                    <td>
                        <button (click)="removeSong($index)">Elimina</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>    
}
@else {
    <p>Non sno presenti canzoni nella playlist</p>
}