<div class="container my-3">
    <label for="artistName" class="form-label">Artist name</label>
    <!-- [formControl] mni consente di creare un collegamento (property binding) fra il tag input
     e l'oogetto di tipo FormControl dichiarato nella classe in typescript -->
    <input type="text" id="artistName" class="form-control" placeholder="artist name..." [formControl]="searchInput">
</div>
@if(artistList()) {
    <div class="container my-3">
        <div class="list-group">
            <!-- Siccome artistList() potrebbe essere null (ho cancellato la richiesta a Spotify perché il testo
             è vuoto), quando eseguo il ciclo for devo controllare che esista l'oggetto di tipo Search (artistList()?)
             e che questo oggetto abbia un attributo con nome artist (artist?)
             NB: notare il ? dopo il nome dell'attributo del quale si vuole controllare l'esistenza
             -->
            @for(artist of artistList()?.artists?.items; track $index) {
                <a [routerLink]="['/albums', artist.id]" class="list-group-item list-group-item-action">{{artist.name}}</a>       
            }
        </div>
    </div>
}