<h2>Signals</h2>

Se uso dei signals non posso usare string interpolation oppure
altri tipi di binding, specificando il solo nome del signal.
Un attributo di tipo signal è una funzione.
<!-- <p>{{counter}}</p> -->

Il valore incorporato nel signal può essere ottenuto invocando
la funzione: nomedelsignal();
<p>Counter: {{counter()}}</p>
<p>Doppio counter: {{doppioContatore()}}</p>
<p><button (click)="azzera()">Azzera</button>
<button (click)="incrementa()">Incrementa</button>
</p>
<p>Gestione array con signals</p>
<div>
    <p>Nuovo colore: <input #colore type="text">
        <button (click)="aggiungiColore(colore.value)">Aggiungi</button>
        <button (click)="azzeraColori()">Azzera</button></p>
    <ul>
        <!--  La direttiva @for ci mette a disposizione una serie di variabili:
          $index: number -> indice dell'elemento corrente
          $count: number -> numetro di elementi presenti nell'array
          $first: boolean -> vero se il valore di colore è il primo dell'array
          $last: boolean -> vero se il valore di colore è l'ultimo dell'array
          $even: boolean -> vero se l'indice è pari
          $odd: boolean -> vero se l'indice è dispari
           -->
        @for(colore of colori(); track $index) {
            <li>{{$index}} di {{$count}} - {{colore}} 
                first: {{$first}}, last: {{$last}}
                even: {{$even}}, odd: {{$odd}}
            </li>
        }
        @empty {
            <!-- Decidere che cosa scrivere nel DOM se l'array è vuoto -->
            <li>Non sono presenti colori.</li>
        }
    </ul>
</div>