<h2>Insegnanti</h2>

<div>
<h5>Nuovo studente</h5>
<div>
    <div class="flex-container">
        <div class="div-input">
            <input #nome type="text" placeholder="Nome">
        </div>
        <div class="div-input">
            <input #cognome type="text" placeholder="Nome">
        </div>
        <div class="div-input">
            <input #nome type="text" placeholder="Nome"><button>Aggiungi</button>
            <ul>
                
            </ul>
        </div>
        <div class="div-input">
            <input #nome type="text" placeholder="Nome">
        </div>
    </div>
</div>
</div>
<hr>