<h2>Studenti</h2>
<div>
    <!-- con #nome assegno un nome (bookmark) all'elemento HTML al quale mi serve successivamente fare riferimento. -->
    <input type="number" placeholder="id" #id>
    <input type="text" placeholder="nome" #nome>
    <input type="text" placeholder="cognome" #cognome>
    <input type="text" placeholder="classe" #classe>
    <!-- Per passare al metodo aggiungi gli oggetti input (in typescript è necessario leggerne il valore con la proprietà value)
         aggiungo come parametro il bookmark definito togliendo il #.
         I parametri saranno di tipo HTMLInputElement. -->
    <button (click)="aggiungi(id, nome, cognome, classe)">Aggiungi</button>
</div>
<hr>
<div>
    <button (click)="tutti()">Tutti</button>
    <button (click)="pari()">Pari</button>
    <button (click)="dispari()">Dispari</button>
</div>
<hr>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Classe</th>
        </tr>
        <!-- Aggiungere gli studenti presenti nell'array studenti -->
         @for(studente of studenti; track studente.Id) {
            @switch(visualizzazione) {
                @case(tipoVisualizzazione.tutti) {
                    <tr>
                        <th>{{studente.Id}}</th>
                        <td>{{studente.Nome}}</td>
                        <td>{{studente.Cognome}}</td>
                        <td>{{studente.Classe}}</td>
                    </tr>
                }
                @case(tipoVisualizzazione.pari) {
                    @if (studente.isIdPari) {
                        <tr>
                            <th>{{studente.Id}}</th>
                            <td>{{studente.Nome}}</td>
                            <td>{{studente.Cognome}}</td>
                            <td>{{studente.Classe}}</td>
                        </tr>
                    }
                }
                @case(tipoVisualizzazione.dispari) {
                    @if(!studente.isIdPari) {
                        <tr>
                            <th>{{studente.Id}}</th>
                            <td>{{studente.Nome}}</td>
                            <td>{{studente.Cognome}}</td>
                            <td>{{studente.Classe}}</td>
                        </tr>
                    }
                }
                @default {
                    <tr>
                        <th>{{studente.Id}}</th>
                        <td>{{studente.Nome}}</td>
                        <td>{{studente.Cognome}}</td>
                        <td>{{studente.Classe}}</td>
                    </tr>
                }
            }
         }
         @empty {
            <tr><td colspan="4">Non sono presnti studenti.</td></tr>
         }

    </table>
</div>