#sfondo {
    background-image: url('/sfondo.webp');
    background-position: center top;
    background-repeat: no-repeat;   
    background-size: 100% auto;
    min-height: calc(0.55 * 100vw);
}

@media (min-width: 1320px) {
    #sfondo {
        min-height: 70vh;
    }
}